@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');

html {
  font-size: 16px;
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  background-color: #ececec;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body { 
  background-color: #fff;
  max-width: 1152px;
  margin: 0 auto; 
  font-family: 'Heebo', sans-serif;;
  overflow-x: hidden;
}
ul li {
  list-style: none;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
a {
  color: inherit;
}
button {
  border: none;
  background-color: transparent;
}
input:hover,
input:active,
input:focus {
  outline: none;

}